@model IEnumerable<Student>

<h2>Список обучающихся</h2>
<table class="table">
     <tr><th>ID</th><th>Имя Фамилия</th><th>Класс</th></tr>
    @foreach (var item in Model)
    {
            <tr>
                <td>@item.Id</td>
                <td><a  asp-controller="Student" asp-action=@item.Id.ToString()>@item.FirstName @item.LastName</a></td>
                <td>@item.Class.ToString()</td>
            </tr>
    }
</table>