@model Student

<h2>Список обучающихся</h2>
<table class="table">
     <tr><th>ID</th><th>Имя</th><th>Возраст</th><th>Класс</th></tr>
            <tr>
                <td>@Model.Id</td>
                <td>@Model.FirstName</td>
                <td>@Model.LastName</td>
                <td>@Model.Class.ToString()</td>
            </tr>
</table>