@model Class

<h2>@Model.ToString()</h2>
<table class="table">
     <tr><th>ID</th><th>Имя Фамилия</th></tr>
    @foreach (var item in Model.Users)
    {
                <tr>
                        <td>@item.Id</td>
                            <td><a asp-controller="Student" asp-action=@item.Id.ToString()>@item.Name</a></td>
                
                        </tr>
    }
</table>