@model IEnumerable<Class>

<h2>Список классов</h2>
<table class="table">
     <tr><th>ID</th><th>Название</th><th>Профиль</th></tr>
    @foreach (var item in Model)
    {
            <tr>
                <td>@item.Id</td>
                        <td><a  asp-controller="Class" asp-action=@item.Id.ToString()>@item.Grade @item.Letter</a></td>
                <td>@item.Profile</td>
            </tr>
    }
</table>